<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta charset="UTF-8">
    <title>Add Iban</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleUp.css}">
</head>
<body class="vh-100 d-flex flex-column">
<div th:insert="~{fragments/header.html}"></div>
<main class="d-flex flex-column flex-grow-1">
    <h2 class="text-center mt-5">Add Iban of your Account</h2>
    <h2 class="text-center mt-5"><span th:text="|${user.name}, ${user.user_id}|"></span></h2>
    <div class="container d-flex justify-content-center mt-5 align-items-center">
        <form th:action="@{/iban/validate}" th:object="${account}" method="post" class="w-50" style="width: 100%">
            <div class="mb-3">
                <label for="iban" class="form-label text-center w-100">Your Iban</label>
                <input type="text" th:field="*{iban}" id="iban" placeholder="Iban"
                       class="form-control">
                <p class="text-danger" th:if="${#fields.hasErrors('iban')}" th:errors="*{iban}"></p>
            </div>

            <div class="d-flex justify-content-center">
                <a class="btn btn-danger btn-lg me-3" href="/user/profil">Cancel</a>
                <input class="btn btn-valid btn-lg" type="submit" value="Add Iban">
            </div>
        </form>
    </div>

</main>
<div class="text-bg-primary mt-3" th:insert="~{fragments/footer.html}"></div>
</body>
</html>